<div id="reset-div">
    <form action="/users/reset/" method="POST">
        <div class="inputs_container">
            <input type="text" name="sendpassword" placeholder="Enter Send Password"  required>
            <input type="password" name="password" placeholder="Password"  required>
            <input type="password" name="confirm_password" placeholder="Confirm Password"  required>
        </div>
        
        <input type="submit" value="Reset" class="login_button">
    </form>
</div>